@import "../variables.less";

.filter {
  position: relative;
  width: 280px;
  background-color: #E6FAF1;
  border-radius: 2px;
  padding: 16px;

  .title {
    font-size: 21px;
    color: #464646;
    line-height: 1;
    border-left: 3px solid #71A0FF;
    padding-left: 12px;
  }
}